<div class="popup-container">

<h2>Add user to project</h2>

<%= simple_form_for [@project, @projects_user] do |f| %>
	<%= f.select :user_id, @projectList %>
	<div class="clearfix">
		<%= f.submit "Add User", class:"btn pull-right btn-info" %>
	</div>
<% end %>
<div class="links-row">
	<%= link_to 'â† Back to Projects', projects_path %>
</div>
</div>
