<div class="popup-container">

<h2>Create new project</h2>

<%= simple_form_for @project do |f| %>
    <%= f.input :name %>
    <div class="clearfix">
    	<%= f.button :submit, class:"pull-right btn-info"  %>
    </div>
<% end %>
<div class="links-row">
	<%= link_to 'â† Back to Projects', projects_path %>
</div>
</div>